In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [27]:
df = pd.read_csv('../data/Week1_challenge_data_source.csv')

In [30]:
df.columns.value_counts()

Bearer Id                                   1
Google DL (Bytes)                           1
Handset Type                                1
Nb of sec with 125000B < Vol DL             1
Nb of sec with 1250B < Vol UL < 6250B       1
Nb of sec with 31250B < Vol DL < 125000B    1
Nb of sec with 37500B < Vol UL              1
Nb of sec with 6250B < Vol DL < 31250B      1
Nb of sec with 6250B < Vol UL < 37500B      1
Nb of sec with Vol DL < 6250B               1
Nb of sec with Vol UL < 1250B               1
Social Media DL (Bytes)                     1
Social Media UL (Bytes)                     1
Google UL (Bytes)                           1
Dur. (ms).1                                 1
Email DL (Bytes)                            1
Email UL (Bytes)                            1
Youtube DL (Bytes)                          1
Youtube UL (Bytes)                          1
Netflix DL (Bytes)                          1
Netflix UL (Bytes)                          1
Gaming DL (Bytes)                           1
Gaming UL (Bytes)                           1
Other DL (Bytes)                            1
Other UL (Bytes)                            1
Total UL (Bytes)                            1
Handset Manufacturer                        1
Activity Duration UL (ms)                   1
Start                                       1
Avg Bearer TP UL (kbps)                     1
Start ms                                    1
End                                         1
End ms                                      1
Dur. (ms)                                   1
IMSI                                        1
MSISDN/Number                               1
IMEI                                        1
Last Location Name                          1
Avg RTT DL (ms)                             1
Avg RTT UL (ms)                             1
Avg Bearer TP DL (kbps)                     1
TCP DL Retrans. Vol (Bytes)                 1
Activity Duration DL (ms)                   1
TCP UL Retrans. Vol (Bytes)                 1
DL TP < 50 Kbps (%)                         1
50 Kbps < DL TP < 250 Kbps (%)              1
250 Kbps < DL TP < 1 Mbps (%)               1
DL TP > 1 Mbps (%)                          1
UL TP < 10 Kbps (%)                         1
10 Kbps < UL TP < 50 Kbps (%)               1
50 Kbps < UL TP < 300 Kbps (%)              1
UL TP > 300 Kbps (%)                        1
HTTP DL (Bytes)                             1
HTTP UL (Bytes)                             1
Total DL (Bytes)                            1
dtype: int64

In [34]:
df.describe()

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
count,1.490100e+05,150000.000000,150000.000000,1.500000e+05,1.494310e+05,1.489350e+05,1.494290e+05,122172.000000,122189.000000,150000.000000,...,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500000e+05,1.500000e+05
mean,1.013887e+19,499.188200,498.800880,1.046086e+05,2.082017e+14,4.188282e+10,4.847454e+13,109.795706,17.662883,13300.045927,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.112121e+07,4.546434e+08
std,2.893170e+18,288.611834,288.097653,8.103762e+04,2.149289e+10,2.447443e+12,2.241637e+13,619.782739,84.793524,23971.878541,...,6.710569e+06,6.345423e+06,6.725218e+06,6.359490e+06,2.439675e+08,4.782700e+06,2.432050e+08,4.769004e+06,1.127639e+07,2.441429e+08
min,6.917540e+18,0.000000,0.000000,7.142000e+03,2.040470e+14,3.360100e+10,4.400150e+11,0.000000,0.000000,0.000000,...,5.300000e+01,1.050000e+02,4.200000e+01,3.500000e+01,2.516000e+03,5.900000e+01,3.290000e+03,1.480000e+02,2.866892e+06,7.114041e+06
25%,7.349880e+18,250.000000,251.000000,5.744050e+04,2.082010e+14,3.365130e+10,3.546070e+13,32.000000,2.000000,43.000000,...,5.833501e+06,5.517965e+06,5.777156e+06,5.475981e+06,2.104733e+08,4.128476e+06,2.101869e+08,4.145943e+06,3.322201e+07,2.431068e+08
50%,7.349880e+18,499.000000,500.000000,8.639900e+04,2.082020e+14,3.366371e+10,3.572200e+13,45.000000,5.000000,63.000000,...,1.161602e+07,1.101345e+07,1.164222e+07,1.099638e+07,4.234081e+08,8.291208e+06,4.218030e+08,8.267071e+06,4.114331e+07,4.558411e+08
75%,1.304240e+19,749.000000,750.000000,1.324302e+05,2.082020e+14,3.368349e+10,8.611970e+13,70.000000,15.000000,19710.750000,...,1.744852e+07,1.651556e+07,1.747048e+07,1.650727e+07,6.331742e+08,1.243162e+07,6.316918e+08,1.238415e+07,4.903424e+07,6.657055e+08
max,1.318650e+19,999.000000,999.000000,1.859336e+06,2.140740e+14,8.823970e+14,9.900120e+13,96923.000000,7120.000000,378160.000000,...,2.325910e+07,2.201196e+07,2.325919e+07,2.201196e+07,8.434419e+08,1.655879e+07,8.434425e+08,1.655882e+07,7.833131e+07,9.029696e+08

In [35]:
df.size

8250055

In [36]:
df.shape

(150001, 55)

In [37]:
df.dtypes

Bearer Id                                   float64
Start                                        object
Start ms                                    float64
End                                          object
End ms                                      float64
Dur. (ms)                                   float64
IMSI                                        float64
MSISDN/Number                               float64
IMEI                                        float64
Last Location Name                           object
Avg RTT DL (ms)                             float64
Avg RTT UL (ms)                             float64
Avg Bearer TP DL (kbps)                     float64
Avg Bearer TP UL (kbps)                     float64
TCP DL Retrans. Vol (Bytes)                 float64
TCP UL Retrans. Vol (Bytes)                 float64
DL TP < 50 Kbps (%)                         float64
50 Kbps < DL TP < 250 Kbps (%)              float64
250 Kbps < DL TP < 1 Mbps (%)               float64
DL TP > 1 Mbps (%)                          float64
UL TP < 10 Kbps (%)                         float64
10 Kbps < UL TP < 50 Kbps (%)               float64
50 Kbps < UL TP < 300 Kbps (%)              float64
UL TP > 300 Kbps (%)                        float64
HTTP DL (Bytes)                             float64
HTTP UL (Bytes)                             float64
Activity Duration DL (ms)                   float64
Activity Duration UL (ms)                   float64
Dur. (ms).1                                 float64
Handset Manufacturer                         object
Handset Type                                 object
Nb of sec with 125000B < Vol DL             float64
Nb of sec with 1250B < Vol UL < 6250B       float64
Nb of sec with 31250B < Vol DL < 125000B    float64
Nb of sec with 37500B < Vol UL              float64
Nb of sec with 6250B < Vol DL < 31250B      float64
Nb of sec with 6250B < Vol UL < 37500B      float64
Nb of sec with Vol DL < 6250B               float64
Nb of sec with Vol UL < 1250B               float64
Social Media DL (Bytes)                     float64
Social Media UL (Bytes)                     float64
Google DL (Bytes)                           float64
Google UL (Bytes)                           float64
Email DL (Bytes)                            float64
Email UL (Bytes)                            float64
Youtube DL (Bytes)                          float64
Youtube UL (Bytes)                          float64
Netflix DL (Bytes)                          float64
Netflix UL (Bytes)                          float64
Gaming DL (Bytes)                           float64
Gaming UL (Bytes)                           float64
Other DL (Bytes)                            float64
Other UL (Bytes)                            float64
Total UL (Bytes)                            float64
Total DL (Bytes)                            float64
dtype: object

In [39]:
df.isnull().sum()

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [41]:
round(100*(df.isnull().sum(axis=0)/len(df.index)), 2).sort_values(ascending = False)

Nb of sec with 37500B < Vol UL              86.84
Nb of sec with 6250B < Vol UL < 37500B      74.56
Nb of sec with 125000B < Vol DL             65.02
TCP UL Retrans. Vol (Bytes)                 64.43
Nb of sec with 31250B < Vol DL < 125000B    62.39
Nb of sec with 1250B < Vol UL < 6250B       61.93
Nb of sec with 6250B < Vol DL < 31250B      58.88
TCP DL Retrans. Vol (Bytes)                 58.76
HTTP UL (Bytes)                             54.54
HTTP DL (Bytes)                             54.32
Avg RTT DL (ms)                             18.55
Avg RTT UL (ms)                             18.54
Last Location Name                           0.77
MSISDN/Number                                0.71
Bearer Id                                    0.66
10 Kbps < UL TP < 50 Kbps (%)                0.53
Nb of sec with Vol UL < 1250B                0.53
UL TP > 300 Kbps (%)                         0.53
50 Kbps < UL TP < 300 Kbps (%)               0.53
UL TP < 10 Kbps (%)                          0.53
250 Kbps < DL TP < 1 Mbps (%)                0.50
50 Kbps < DL TP < 250 Kbps (%)               0.50
DL TP < 50 Kbps (%)                          0.50
Nb of sec with Vol DL < 6250B                0.50
DL TP > 1 Mbps (%)                           0.50
Handset Type                                 0.38
Handset Manufacturer                         0.38
IMEI                                         0.38
IMSI                                         0.38
Gaming UL (Bytes)                            0.00
Email UL (Bytes)                             0.00
Total UL (Bytes)                             0.00
Other UL (Bytes)                             0.00
Other DL (Bytes)                             0.00
Google UL (Bytes)                            0.00
Gaming DL (Bytes)                            0.00
Youtube DL (Bytes)                           0.00
Youtube UL (Bytes)                           0.00
Netflix DL (Bytes)                           0.00
Netflix UL (Bytes)                           0.00
Email DL (Bytes)                             0.00
Activity Duration UL (ms)                    0.00
Google DL (Bytes)                            0.00
Social Media UL (Bytes)                      0.00
Social Media DL (Bytes)                      0.00
Dur. (ms).1                                  0.00
Start                                        0.00
Activity Duration DL (ms)                    0.00
Avg Bearer TP UL (kbps)                      0.00
Avg Bearer TP DL (kbps)                      0.00
Dur. (ms)                                    0.00
End ms                                       0.00
End                                          0.00
Start ms                                     0.00
Total DL (Bytes)                             0.00
dtype: float64

In [44]:
df.isnull().all(axis=0)

Bearer Id                                   False
Start                                       False
Start ms                                    False
End                                         False
End ms                                      False
Dur. (ms)                                   False
IMSI                                        False
MSISDN/Number                               False
IMEI                                        False
Last Location Name                          False
Avg RTT DL (ms)                             False
Avg RTT UL (ms)                             False
Avg Bearer TP DL (kbps)                     False
Avg Bearer TP UL (kbps)                     False
TCP DL Retrans. Vol (Bytes)                 False
TCP UL Retrans. Vol (Bytes)                 False
DL TP < 50 Kbps (%)                         False
50 Kbps < DL TP < 250 Kbps (%)              False
250 Kbps < DL TP < 1 Mbps (%)               False
DL TP > 1 Mbps (%)                          False
UL TP < 10 Kbps (%)                         False
10 Kbps < UL TP < 50 Kbps (%)               False
50 Kbps < UL TP < 300 Kbps (%)              False
UL TP > 300 Kbps (%)                        False
HTTP DL (Bytes)                             False
HTTP UL (Bytes)                             False
Activity Duration DL (ms)                   False
Activity Duration UL (ms)                   False
Dur. (ms).1                                 False
Handset Manufacturer                        False
Handset Type                                False
Nb of sec with 125000B < Vol DL             False
Nb of sec with 1250B < Vol UL < 6250B       False
Nb of sec with 31250B < Vol DL < 125000B    False
Nb of sec with 37500B < Vol UL              False
Nb of sec with 6250B < Vol DL < 31250B      False
Nb of sec with 6250B < Vol UL < 37500B      False
Nb of sec with Vol DL < 6250B               False
Nb of sec with Vol UL < 1250B               False
Social Media DL (Bytes)                     False
Social Media UL (Bytes)                     False
Google DL (Bytes)                           False
Google UL (Bytes)                           False
Email DL (Bytes)                            False
Email UL (Bytes)                            False
Youtube DL (Bytes)                          False
Youtube UL (Bytes)                          False
Netflix DL (Bytes)                          False
Netflix UL (Bytes)                          False
Gaming DL (Bytes)                           False
Gaming UL (Bytes)                           False
Other DL (Bytes)                            False
Other UL (Bytes)                            False
Total UL (Bytes)                            False
Total DL (Bytes)                            False
dtype: bool

In [53]:
df.isnull().sum(axis=1)

0         10
1         10
2         12
3         12
4         12
          ..
149996    10
149997    10
149998    10
149999    10
150000    41
Length: 150001, dtype: int64

In [55]:
df[df.isnull().sum(axis=1) > 27]

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11634072.5,11009410.13,11626851.72,11001754.82,422044702.6,8288398.111,421100544.2,8264799.424,NaN,NaN

In [107]:

def calculateSkewness(df):
    dataTypeDict = dict(df.dtypes)
    for column in df.columns:
        # print(dataTypeDict[column])
        # print(df[column])
        if dataTypeDict[column] != 'object':
            newDf = df.copy()
            newDf[column] = newDf[column].fillna(newDf[column].median())
            return scipy.stats.skew(newDf[column], axis=0, bias=True)

calculateSkewness(df)

0.0009684411365032406

In [ ]:
df['Bearer Id'].fillna(value='Missed', inplace=True) # fill missing values with 'Missed'

In [119]:
df.head(5)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,13114500000000000000.0,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082010e+14,3.366496e+10,3.552120e+13,9.16457E+15,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,13114500000000000000.0,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082020e+14,3.368185e+10,3.579400e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,13114500000000000000.0,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082000e+14,3.376063e+10,3.528150e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,13114500000000000000.0,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082010e+14,3.375034e+10,3.535660e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,13114500000000000000.0,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082010e+14,3.369980e+10,3.540700e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [114]:
df['MSISDN/Number'].duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
149996    False
149997     True
149998    False
149999    False
150000     True
Name: MSISDN/Number, Length: 150001, dtype: bool

In [118]:
ids = df["MSISDN/Number"]
df[ids.isin(ids[ids.duplicated()])]

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,13114500000000000000.0,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082010e+14,3.366496e+10,3.552120e+13,9.16457E+15,...,15854611.0,2501332.00,8198936.00,9656251.00,278082303.0,1.434415e+07,171744450.0,8.814393e+06,36749741.0,308879636.0
1,13114500000000000000.0,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082020e+14,3.368185e+10,3.579400e+13,L77566A,...,20247395.0,19111729.00,18338413.00,17227132.00,608750074.0,1.170709e+06,526904238.0,1.505514e+07,53800391.0,653384965.0
5,13114500000000000000.0,4/12/2019 21:37,439.0,4/25/2019 8:08,553.0,1074638.0,2.082010e+14,3.366819e+10,3.529840e+13,T89132C,...,21332918.0,2611113.00,7345361.00,6536448.00,710293538.0,1.316797e+07,654978277.0,4.436057e+06,30307754.0,754452212.0
7,13042400000000000000.0,4/14/2019 2:11,592.0,4/25/2019 2:26,512.0,951292.0,2.082010e+14,3.376349e+10,8.654640e+13,CELL_208_20_520025_1,...,12189786.0,19735183.00,6858496.00,12075206.00,748906189.0,1.614962e+07,537601820.0,7.714657e+06,58813016.0,775350343.0
9,13042400000000000000.0,4/15/2019 0:32,0.0,4/25/2019 0:40,284.0,864482.0,2.082000e+14,3.365922e+10,3.557310e+13,L20434C,...,16338345.0,6573194.00,12211149.00,974201.00,811355188.0,1.591237e+06,64856042.0,1.281521e+07,22417975.0,850570347.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149990,13042400000000000000.0,4/29/2019 7:28,438.0,4/30/2019 6:46,83.0,83844.0,2.082010e+14,3.376127e+10,3.532700e+13,D70706A,...,8402539.0,899942.00,2029635.00,3443119.00,365096332.0,8.496393e+06,624206761.0,9.343135e+06,22489208.0,383881536.0
149992,13114500000000000000.0,4/29/2019 7:28,114.0,4/30/2019 7:04,724.0,84940.0,2.082010e+14,3.376127e+10,3.532700e+13,D78058B,...,22428728.0,14385815.00,6940672.00,6801943.00,35738570.0,7.842728e+06,808482329.0,1.213552e+07,45923464.0,70341448.0
149993,13114500000000000000.0,4/29/2019 7:28,79.0,4/30/2019 18:22,512.0,125622.0,2.082010e+14,3.362611e+10,3.573530e+13,D73542B,...,18144703.0,8161828.00,20559422.00,20415237.00,569668054.0,1.618788e+06,168292600.0,1.105604e+07,43629118.0,623318363.0
149997,7349880000000000000.0,4/29/2019 7:28,483.0,4/30/2019 10:41,187.0,97970.0,2.082020e+14,3.366345e+10,3.566050e+13,D10223C,...,13877234.0,8288284.00,19350146.00,21293148.00,626893062.0,4.735033e+06,712180387.0,2.457758e+06,39135081.0,666648844.0
150000,Missed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11634072.5,11009410.13,11626851.72,11001754.82,422044702.6,8.288398e+06,421100544.2,8.264799e+06,NaN,NaN

In [125]:
df[['MSISDN/Number', 'Bearer Id']]

# dfCopy = df.copy()
# dfCopy.groupby('MSISDN/Number').sum()
# # dfCopy.head(25)
# dfCopy.shape

        MSISDN/Number               Bearer Id
0        3.366496e+10  13114500000000000000.0
1        3.368185e+10  13114500000000000000.0
2        3.376063e+10  13114500000000000000.0
3        3.375034e+10  13114500000000000000.0
4        3.369980e+10  13114500000000000000.0
...               ...                     ...
149996   3.365069e+10   7277830000000000000.0
149997   3.366345e+10   7349880000000000000.0
149998   3.362189e+10  13114500000000000000.0
149999   3.361962e+10  13114500000000000000.0
150000            NaN                  Missed

[150001 rows x 2 columns]